h1 {
    font-size: 100px;
    color: rgb(249, 247, 247);
    font-style: italic;
    text-align: center;
}

body {
    background-image: url("https://media.istockphoto.com/vectors/planet-earth-on-a-background-of-a-dark-sky-with-stars-vector-id1319917111?k=20&m=1319917111&s=612x612&w=0&h=FYH97iGIGCYtQJVb3mDz68vMDlJm73JQ0yYiz9VpoLQ=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}

p {
    color: white;
    font-size: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#menu {
    font-size: 25px;
    color: white;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 1px;
    border-bottom: 1.5px solid transparent;
    transition: all 0.3s ease;
}

nav ul li a:active,
nav ul li a:hover {
    border-color: red;
    color: red;
}

nav .menu-btn i {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.active {
    color: red;
}